* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    padding: 1%;
    width: 80%;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.clearfix {
    float: none;
    clear: both;
}

.tbl-full {
    width: 100%;
}

.tbl-30 {
    width: 30%;
}

table tr th {
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: left;
}

table tr td {
    padding: 1%;
}

.btn-primary {
    background-color: #1e90ff;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #64ef0d;
}

.btn-secondary {
    background-color: #a17bed;
    padding: 1%;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.btn-secondary:hover {
    background-color: #2ed573;
}

.btn-danger {
    background-color: #ff6b81;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #0916607c;
}

.success {
    color: #2ed573;
}

.error {
    color: #ff4757;
}

/* CSS for Menu */
.menu {
    border-bottom: 1px solid #FFBED4;
    background-color: #FFBED4;
}

.menu ul {
    list-style-type: none;
    text-align: center; /* Center align the menu items */
}

.menu ul li {
    display: inline-block; /* Use inline-block for proper spacing */
    padding: 1%;
    
}

.menu ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #fefefe;
}

.menu ul li a:hover {
    color: #ff4757;
}

/* CSS for main-content */
.main-content {
    background-color: #f1f2f6;
    padding: 3% 0;
    min-height: 400px; /* Ensure the main content has a minimum height */
}

.col-4 {
    width: 18%;
    background-color: white;
    margin: 1%;
    padding: 2%;
    float: left;
}

.dashboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: calc(100vh - 160px); /* Adjust height to account for header and footer */
}

/* CSS for Footer */
.footer {
    background-color: #89BBBA;
    color: rgb(255, 255, 255);
    padding: 10px 0;
    clear: both; /* Ensure footer stays below content */
    position: relative;
    bottom: 10;
    width: 100%;
    text-align: center; /* Center align the footer text */
}

/* CSS for Login */
.login {
    border: 1px solid grey;
    width: 20%;
    margin: 10% auto;
    padding: 2%;
}
